### Gradle ###
.gradle/
**/.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
src/main/resources/application-local.yml