### Gradle ###
.gradle/
**/.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ HTTP Client files
http/files/*.http

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
src/main/resources/application-local.yml